POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=postgres

PGADMIN_DEFAULT_EMAIL=dev@example.com
PGADMIN_DEFAULT_PASSWORD=change-me

MAPBOX_PUBLIC_TOKEN=pk.replace-me